*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.primera{

    

    animation-name: mover;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}

@keyframes mover{

    0%{
        color: rgb(0, 0, 0);

    }
    100%{
        color:  #6b4226;
    }
}
.segunda{

    

    animation-name: xr;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}

@keyframes xr{

    0%{
        color:white;

    }
    100%{
        color:  #6b4226;
    }
}
