*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.circulo{

    margin-left: 90px;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    animation-name: mover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}

@keyframes mover{

    0%{
        transform:  translateX(0);

    }
    100%{
        transform: translateX(100%);
    }
}
